	<div class="table-responsive">
	<table id="userList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		
		</thead>
		<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Juancho</td>
			<td>Perez</td>
			<td>j.p.username</td>
			<td>j.p.username@blog.com</td>
			
				<tr th:each="user: ${userList}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.email}"></td>
				
					<td>
						<a href="#"><i class="fas fa-edit"></i></a> | <a href="#"><i class="fas fa-user-times"></i></a>
							<a href="#" th:href="@{'/editUser/'+ ${user.id}}"><i class="fas fa-edit"></i></a>
							| <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i class="fas fa-user-times"></i></a>
					</td>
				</tr>
			
		
		</tbody>